<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post - Mr kumar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <form action="/post/create" method="post" class="w-full h-screen p-6 flex-col items-center justify-center gap-10 ">
        <h1 class="my-6 text-center font-bold text-3xl">-: Post :-</h1>
        <input
          class="my-6 flex h-10 w-full rounded-md border border-black/30 bg-transparent px-3 py-2 text-sm placeholder:text-gray-600 focus:outline-none focus:ring-1 focus:ring-black/30 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
          type="text"
          required
          name="desc"

          placeholder="description for the post"
        />
        <input
          class="my-6 flex h-10 w-full rounded-md border border-black/30 bg-transparent px-3 py-2 text-sm placeholder:text-gray-600 focus:outline-none focus:ring-1 focus:ring-black/30 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
          type="text"
          name="img"
          placeholder="image url please..."
        />
        <button
          type="submit"
          class="my-6 rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Post 
        </button>
        <a
        href="/posts"
        class=" mx-4 rounded-md bg-black px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
      >
        cancel
      </a>
      </form>
</body>
</html>